{% load staticfiles %}
{% load bootstrap3 %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <h1 class="col-md-4 col-offset-md-2"> Hi {{ user.username }} ! Welcome to myQuora. <a href="{% url 'logout' %}">Logout</a></h1>
            </div>
            <div class="row">
                <div class="col-md-4 col-offset-md-2">
                    <form action = "{% url 'questionupload' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% buttons submit='Upload'%}
                        {% endbuttons %}
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
