<!doctype html>
{% load staticfiles %}
{% load bootstrap3 %}
<html>
    <head>
        <title>MyQuora </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>
    <body background="{%static 'account/background.jpg'%}">
        <div class = 'container-fluid'>
            <div class = 'column'>
                <div class="col-md-4 col-md-offset-4">
                    <form action = "{% url 'signup' %}" method = 'POST' class='form'>
                        {% if next %}
                        <input type="hidden" name='next' value ="{{next}}">
                        {% endif %}
                        {% csrf_token %}
                        {% bootstrap_form signupform %}
                        {% buttons submit='Sign Up'%}
                        {% endbuttons %}
                    </form>
		<div class='list-group-item list-group-item-success'><p><center>Already a user 
		<a href="{%url 'rlogin'%}">Login</a>
		here</center></p></div>
                </div>
		
            </div>
	
        </div>
    </body>
</html>
